@model QnA
<div class="headings"><h1>Create</h1>

<h4 class="headings welcome2">Questions and Answers</h4></div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="MathEquation" class="control-label">Math Equation</label>
                <input asp-for="MathEquation" class="form-control" />
                <span asp-validation-for="MathEquation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer" class="control-label"></label>
                <input asp-for="Answer" class="form-control" />
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LevelId" class="control-label">Level</label>
               <input asp-for="LevelId" class="form-control" />
                <span asp-validation-for="LevelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="headings">
    <a asp-action="Index">Back to List</a>
</div>