@model QnA
<table class="table">
    <thead>
        <tr>
            <th>
                Math Problem:
            </th>
            <th>
                Answer:
            </th>
          
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Scores) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LevelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentScore)%
            </td>
            <td>
                View
            </td>
            <td>
              
                
            </td>
        </tr>
}
    </tbody>
</table>