@model IEnumerable<Level>
<h2 class="headings welcome2">LEVELS:</h2>
<div class=" row">
	<div class="col-sm-2">
<form asp-action="Index" method="get">
		</form>
			</div>
<div class="col-sm-2">
	<form asp-action="Index" method="get">
	</form></div></div>
<table class="table">
	<tr>
<th>Addition</th>
<th>Subtraction</th>
<th>Multiplication</th>
<th>Division</th>
	</tr>
	
	@foreach (Level l in Model)
	{	<tr>
		<td><a  type="button" class="button-71" asp-action="Details" asp-route-id="@l.Id">@l.Id</a></td>
	
	
	</tr>
	}

</table>
<div class="headings form-group">
		<a button type="button" class="button-71" asp-action="Create">Create New Level</a>
	</div>