@{
    ViewData["Title"] = "Home Page";
}
<body class="home">
<div class="title text-center">
    <h1 class="welcome ">Math Time!</h1>
    <h2 class="welcome2">You can do this!</h2>
    <div><a button type="button" class="button-71" asp-area="" asp-controller="Level" asp-action="Index">View Levels</a></div>
    
</div>
</body>
