@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Let's Play!</h1>
    <h2>You can do this!</h2>
    <div><a button type="button" class="btn btn-outline-primary"  asp-area="" asp-controller="Level" asp-action="Details">PLAY</a></div>
    <div> <a button type="button" class="btn btn-outline-primary" asp-area="" asp-controller="Score" asp-action="Index">VIEW PROGRESS</a></div>
</div>
